---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="src/styles/tailwind.css">
	<title>{title}</title>
</head>
<body>
	<slot />
  <footer class="">
      <small>Copyright © <span id="copyrightYear"></span>Nice Astro Starter</small>
    </footer>

  <script>
    document.querySelector('#copyrightYear').textContent = new Date().getFullYear();
  </script>

</body>
</html>

<style>
  
</style>
